.bordered-titled-title {
	-fx-background-color: f0f0f0;
	-fx-translate-y: -9;
	-fx-translate-x: 8;
}

.bordered-titled-border {
	-fx-content-display: top;
	-fx-border-insets: 8 4 4 4;
	-fx-background-color: f0f0f0;
	-fx-border-color: black;
	-fx-border-width: 1;
}

.bordered-titled-content {
	-fx-padding: 16 10 10 10;
}

.field-label {
	-fx-text-alignment: right;
	-fx-alignment: baseline-right;
}
